// Display Property
$display: (
  "none": none,
  "inline": inline,
  "block": block,
  "inline-block": inline-block,
  "flex": flex,
  "grid": grid,
);

@each $display, $value in $display {
  .#{$display} {
    display: #{$value};
  }
}

.overX-hidden {
  overflow-x: hidden;
}
