@use "../../design/breakpoints";

// Display Property
$display: (
  "none": none,
  "inline": inline,
  "block": block,
  "inline-block": inline-block,
  "flex": flex,
  "grid": grid,
);

@each $display, $value in $display {
  .#{$display} {
    display: #{$value};
  }
  @media screen and (min-width: map-get(breakpoints.$breakpoints, "md")) {
    .md-#{$display} {
      display: #{$value};
    }
  }
}

.overX-hidden {
  overflow-x: hidden;
}
.overY-hidden {
  overflow-y: hidden;
}
.over-auto {
  overflow: auto;
}
