@use "../../design/breakpoints";

// Justify and Align Property
$justify: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
);

$align: (
  "center": center,
  "start": flex-start,
  "end": flex-end,
  "bl": baseline,
);

@each $justify, $value in $justify {
  .j-#{$justify} {
    justify-content: #{$value};
  }
  @media screen and (min-width: map-get(breakpoints.$breakpoints, "md")) {
    .md-j-#{$justify} {
      justify-content: #{$value};
    }
  }
}

@each $align, $value in $align {
  .a-#{$align} {
    align-items: #{$value};
  }
  @media screen and (min-width: map-get(breakpoints.$breakpoints, "md")) {
    .md-a-#{$align} {
      align-items: #{$value};
    }
  }
}

.center {
  justify-content: center;
  align-items: center;
}

.f-col {
  flex-direction: column;
}

@media screen and (min-width: map-get(breakpoints.$breakpoints, "md")) {
  .md-f-col {
    flex-direction: column;
  }
}

.f-row {
  flex-direction: row;
}

@media screen and (min-width: map-get(breakpoints.$breakpoints, "md")) {
  .md-f-row {
    flex-direction: row;
  }
}
