// GAP FROM 5px TO 50px WITH 5px INCREMENT - NAMED gap-5, gap-10, gap-15 etc...
$min-gap: 5;
$max-gap: 50;
$unit: "px";
$increment: 5;

@while $min-gap <= $max-gap {
  .gap-#{$min-gap} {
    gap: #{$min-gap}#{$unit};
  }

  $min-gap: $min-gap + $increment;
}
