// MARGIN FROM 5px TO 50px WITH 5px INCREMENT - NAMED m-5, m-10-top, m-15 etc...
$min-margin: 5;
$max-margin: 100;
$unit: "px";
$increment: 5;

@while $min-margin <= $max-margin {
  .m-#{$min-margin} {
    margin: #{$min-margin}#{$unit};

    &-top {
      margin: #{$min-margin}#{$unit} 0 0 0;
    }
    &-right {
      margin: 0 #{$min-margin}#{$unit} 0 0;
    }
    &-bottom {
      margin: 0 0 #{$min-margin}#{$unit} 0;
    }
    &-left {
      margin: 0 0 0 #{$min-margin}#{$unit};
    }
    &-x {
      margin: 0 #{$min-margin}#{$unit};
    }
    &-y {
      margin: #{$min-margin}#{$unit} 0;
    }
  }
  $min-margin: $min-margin + $increment;
}

.m-auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}
