$min-margin: 5;
$max-margin: 50;
$unit: "px";
$increment: 5;

@while $min-margin <= $max-margin {
  .margin-#{$min-margin} {
    margin: #{$min-margin}#{$unit};

    &-top {
      margin: #{$min-margin}#{$unit} 0 0 0;
    }
    &-right {
      margin: 0 #{$min-margin}#{$unit} 0 0;
    }
    &-bottom {
      margin: 0 0 #{$min-margin}#{$unit} 0;
    }
    &-left {
      margin: 0 0 0 #{$min-margin}#{$unit};
    }
    &-sides {
      margin: 0 #{$min-margin}#{$unit};
    }
    &-top-bottom {
      margin: #{$min-margin}#{$unit} 0;
    }
  }
  $min-margin: $min-margin + $increment;
}

.margin-center {
  margin: 0 auto;
}
