$min-padding: 5;
$max-padding: 50;
$unit: "px";
$increment: 5;

@while $min-padding <= $max-padding {
  .padding-#{$min-padding} {
    padding: #{$min-padding}#{$unit};

    &-top {
      padding: #{$min-padding}#{$unit} 0 0 0;
    }
    &-right {
      padding: 0 #{$min-padding}#{$unit} 0 0;
    }
    &-bottom {
      padding: 0 0 #{$min-padding}#{$unit} 0;
    }
    &-left {
      padding: 0 0 0 #{$min-padding}#{$unit};
    }
    &-side {
      padding: 0 #{$min-padding}#{$unit};
    }
    &-top-bottom {
      padding: #{$min-padding}#{$unit} 0;
    }
  }

  $min-padding: $min-padding + $increment;
}
