// PADDING FROM 5px TO 50px WITH 5px INCREMENT - NAMED p-5, p-10-top, p-15 etc...
$min-padding: 5;
$max-padding: 100;
$unit: "px";
$increment: 5;

@while $min-padding <= $max-padding {
  .p-#{$min-padding} {
    padding: #{$min-padding}#{$unit};

    &-top {
      padding: #{$min-padding}#{$unit} 0 0 0;
    }
    &-right {
      padding: 0 #{$min-padding}#{$unit} 0 0;
    }
    &-bottom {
      padding: 0 0 #{$min-padding}#{$unit} 0;
    }
    &-left {
      padding: 0 0 0 #{$min-padding}#{$unit};
    }
    &-side {
      padding: 0 #{$min-padding}#{$unit};
    }
    &-x {
      padding: 0 #{$min-padding}#{$unit};
    }
    &-y {
      padding: #{$min-padding}#{$unit} 0;
    }
  }

  $min-padding: $min-padding + $increment;
}

.p-0 {
  padding: 0;
}
