// WIDTH AND HEIGHT FROM 1% TO 100% WITH 1% INCREMENT - NAMED w-1, h-10, w-15 etc...
$min-width: 1;
$max-width: 100;
$unit: "%";
$increment: 1;

@while $min-width <= $max-width {
  .w-#{$min-width} {
    width: #{$min-width}#{$unit};
  }
  .vw-#{$min-width} {
    min-height: #{$min-width}vw;
  }

  $min-width: $min-width + $increment;
}

$min-height: 1;
$max-height: 100;
$unit: "%";
$increment: 1;

@while $min-height <= $max-height {
  .h-#{$min-height} {
    height: #{$min-height}#{$unit};
  }
  .vh-#{$min-height} {
    min-height: #{$min-height}vh;
  }

  $min-height: $min-height + $increment;
}

.full {
  width: 100%;
  min-height: 100vh;
}
