h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.65rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

// List style
$list-style: (
  "none": none,
  "square": square,
  "circle": circle,
  "disc": disc,
  "decimal": decimal,
  "georgian": georgian,
);

@each $name, $list-style in $list-style {
  .list-#{$name} {
    list-style: #{$list-style};
  }
}

// Font size in percentage
$min-font: 1;
$max-font: 1000;
$unit: "%";
$increment: 1;

@while $min-font <= $max-font {
  .fsize-#{$min-font} {
    font-size: #{$min-font}#{$unit};
  }

  $min-font: $min-font + $increment;
}

.no-deco {
  a {
    text-decoration: none;
    color: currentColor;
  }
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}
