$theme-colors: (
  "primary": #626ed4,
  "secondary": #343549,
  "success": #2aa39a,
  "danger": #ec4561,
  "warning": #f8b425,
  "info": #38a5f8,
  "light": #f8f8fa,
  "dark": #575c62,
  "muted": #edecf1,
);

$colors: (
  "black": #000000,
  "white": #ffffff,
  "indigo": #4b0082,
  "purple": #8e35ef,
  "pearl": #fdeef4,
  "crimson": #e238ec,
  "magenta": #ff00ff,
  "red": #ff0000,
  "wood": #966f33,
  "orange": #f88017,
  "blue": #0000ff,
  "green": #00ff00,
  "yellow": #ffff00,
  "steel": #4863a0,
  "night": #0c090a,
  "primary": #626ed4,
  "secondary": #343549,
  "success": #2aa39a,
  "danger": #ec4561,
  "warning": #f8b425,
  "info": #38a5f8,
  "light": #f8f8fa,
  "dark": #575c62,
  "muted": #edecf1,
);

// Background colors named bg-primary, bg-secondary etc...
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

// Color for color atribute named c-primary, c-secondary etc...
@each $name, $color in $colors {
  .c-#{$name} {
    color: $color;
  }
}

.c-cc {
  color: currentColor;
}
