.nav {
  display: flex;
  width: 100%;
  z-index: 99;

  .logo {
    width: 20%;
  }

  .links {
    width: 80%;
  }

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    list-style: none;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
  }
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-sticky {
  position: sticky;
  top: 0;
  left: 0;
}
// HTML CODE FOR NAVBAR
// <nav class="bg-primary shadow-sharp">
//     <ul>
//         <li><a href="#">Link 1</a></li>
//         <li><a href="#">Link 2</a></li>
//         <li><a href="#">Link 3</a></li>
//     </ul>
// </nav>
