@use "../design/breakpoints";

@media screen and (min-width: map-get(breakpoints.$breakpoints, "md")) {
  .responsive {
    display: flex !important;
    flex-direction: row;
  }

  .navbar__toggle {
    display: none;
  }
}

.active {
  display: flex !important;
}

.navbar__toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  color: currentColor;

  span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid currentColor;
  }
}

.navbar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
