@use "../../design/colors";

$min-border: 1;
$max-border: 20;
$unit: "px";
$increment: 1;

@while $min-border <= $max-border {
  .border-#{$min-border} {
    border: #{$min-border}#{$unit} solid currentColor;

    &-top {
      border-style: solid;
      border-width: #{$min-border}#{$unit} 0 0 0;
      border-color: currentColor;
    }
    &-right {
      border-style: solid;
      border-width: 0 #{$min-border}#{$unit} 0 0;
      border-color: currentColor;
    }
    &-bottom {
      border-style: solid;
      border-width: 0 0 #{$min-border}#{$unit} 0;
      border-color: currentColor;
    }
    &-left {
      border-style: solid;
      border-width: 0 0 0#{$min-border}#{$unit};
      border-color: currentColor;
    }
  }
  $min-border: $min-border + $increment;
}

@each $name, $color in colors.$theme-colors {
  .border-#{$name} {
    border-color: $color;
  }
}
