@use "../../design/colors";

// Border FROM 1px TO 20px WITH 1px INCREMENT - NAMED b-5, b-10-top, b-15 etc...
$min-border: 1;
$max-border: 20;
$unit: "px";
$increment: 1;

@while $min-border <= $max-border {
  .b-#{$min-border} {
    border: #{$min-border}#{$unit} solid currentColor;

    &-top {
      border-style: solid;
      border-width: #{$min-border}#{$unit} 0 0 0;
      border-color: currentColor;
    }
    &-right {
      border-style: solid;
      border-width: 0 #{$min-border}#{$unit} 0 0;
      border-color: currentColor;
    }
    &-bottom {
      border-style: solid;
      border-width: 0 0 #{$min-border}#{$unit} 0;
      border-color: currentColor;
    }
    &-left {
      border-style: solid;
      border-width: 0 0 0 #{$min-border}#{$unit};
      border-color: currentColor;
    }
    &-x {
      border-style: solid;
      border-width: 0 #{$min-border}#{$unit} 0 #{$min-border}#{$unit};
      border-color: currentColor;
    }
    &-y {
      border-style: solid;
      border-width: #{$min-border}#{$unit} 0 #{$min-border}#{$unit} 0;
      border-color: currentColor;
    }
  }
  $min-border: $min-border + $increment;
}

@each $name, $color in colors.$colors {
  .b-#{$name} {
    border-color: $color;
  }
}
