// BORDER RADIUS FROM 5px TO 50px WITH 5px INCREMENT - NAMED r-5, r-10-top, r-15 etc...
$min-radius: 5;
$max-radius: 50;
$unit: "px";
$increment: 5;

@while $min-radius <= $max-radius {
  .r-#{$min-radius} {
    border-radius: #{$min-radius}#{$unit};

    &-top {
      border-radius: #{$min-radius}#{$unit} #{$min-radius}#{$unit} 0 0;
    }
    &-bottom {
      border-radius: 0 0 #{$min-radius}#{$unit} #{$min-radius}#{$unit};
    }
    &-x {
      border-radius: #{$min-radius}#{$unit} 0 #{$min-radius}#{$unit} 0;
    }
    &-y {
      border-radius: 0 #{$min-radius}#{$unit} 0 #{$min-radius}#{$unit};
    }
  }
  $min-radius: $min-radius + $increment;
}

.r50 {
  border-radius: 50%;
}
.r100 {
  border-radius: 100%;
}
